body{
    background-image: url('https://images.unsplash.com/photo-1535478044878-3ed83d5456ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3582&q=80');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#panel{
    /* background-image: url(../../images/installer/serverError.svg);     */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px;
    background-color: #EDF2F4;
    height: 550px;
    width: 500px;
    border-radius: 10px;
    flex-direction: column;
}

iframe{
    height: 550px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #00000057;
}

